<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <img src="{{ site.baseurl }}public/racoon.gif" alt="Racoon" />
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">eric johnson</a>
        </h3>
        <div class="nav">
        <em><a href="/about" title="About">About</a><a href="/work" title="Work">Work</a></em>
        </div>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
